<aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a href="dashboard" class="brand-link">
        <!-- <img src="assets/adminlte/dist/img/AdminLTELogo.png" alt="AdminLTE Logo" class="brand-image img-circle elevation-3" style="opacity: .8"> -->
        <!-- <span class="brand-text font-weight-light">AdminLTE 3</span> -->
        <img src="assets/adminlte/dist/img/AdminLTELogo.png" class="brand-image img-circle elevation-3"  style="opacity: .8">
        <span class="brand-text font-weight-light">.......... MIS ..........</span>
    </a>

    <!-- Sidebar -->
    <div
        class="sidebar os-host os-theme-light os-host-overflow os-host-overflow-y os-host-resize-disabled os-host-scrollbar-horizontal-hidden os-host-transition">
        <div class="os-resize-observer-host observed">
            <div class="os-resize-observer" style="left: 0px; right: auto;"></div>
        </div>
        <div class="os-size-auto-observer observed" style="height: calc(100% + 1px); float: left;">
            <div class="os-resize-observer"></div>
        </div>
        <div class="os-content-glue" style="margin: 0px -8px; width: 249px; height: 281px;"></div>
        <div class="os-padding">
            <div class="os-viewport os-viewport-native-scrollbars-invisible" style="overflow-y: scroll;">
                <div class="os-content" style="padding: 0px 8px; height: 100%; width: 100%;">
                    <!-- Sidebar user panel (optional) -->
                    <!-- <div class="user-panel mt-3 pb-3 mb-3 d-flex">
                        
                        <div class="image">
                            <img src="" class="img-circle elevation-2" alt="User Image">
                        </div>
                        <div style="color:aqua; padding: 0px 20px; height: 100%; width: 100%;">
                            <h6>Eak & W Service Co.,Ltd.</h6>
                        </div>
                    </div> -->

                    <!-- SidebarSearch Form -->
                    <!-- <div class="form-inline">
                        <div class="input-group" data-widget="sidebar-search">
                            <input class="form-control form-control-sidebar" type="search" placeholder="Search"
                                aria-label="Search">
                            <div class="input-group-append">
                                <button class="btn btn-sidebar">
                                    <i class="fas fa-search fa-fw"></i>
                                </button>
                            </div>
                        </div>
                        <div class="sidebar-search-results">
                            <div class="list-group"><a href="#" class="list-group-item">
                                    <div class="search-title"><strong class="text-light"></strong>N<strong
                                            class="text-light"></strong>o<strong class="text-light"></strong> <strong
                                            class="text-light"></strong>e<strong class="text-light"></strong>l<strong
                                            class="text-light"></strong>e<strong class="text-light"></strong>m<strong
                                            class="text-light"></strong>e<strong class="text-light"></strong>n<strong
                                            class="text-light"></strong>t<strong class="text-light"></strong> <strong
                                            class="text-light"></strong>f<strong class="text-light"></strong>o<strong
                                            class="text-light"></strong>u<strong class="text-light"></strong>n<strong
                                            class="text-light"></strong>d<strong class="text-light"></strong>!<strong
                                            class="text-light"></strong></div>
                                    <div class="search-path"></div>
                                </a></div>
                        </div>
                    </div> -->

                    <!-- Sidebar Menu -->
                    <nav class="mt-2">
                        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">

                            <li class="nav-item" >
                                <!-- <a routerLink="home" class="nav-link active">
                                    <i class="far fa-circle nav-icon"></i>
                                    <p>Dashboard</p>
                                </a> -->
                                <a *ngIf="!isAuthenticated" routerLinkActive="active-link" routerLink="/login" class="nav-link active">
                                    <i class="far fa-circle nav-icon"></i>
                                    <p>Login</p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a *ngIf="isAuthenticated" (click)="logout()" routerLinkActive="active-link" routerLink="/login" class="nav-link active">
                                    <i class="far fa-circle nav-icon"></i>
                                    <p>Logout</p>
                                </a>
                            </li>

                            <!-- Dashboard -->
                            <li class="nav-item menu-open">
                                <a href="#" class="nav-link active">
                                    <i class="nav-icon fas fa-tachometer-alt"></i>
                                    <p>Dashboard<i class="right fas fa-angle-left"></i></p>
                                </a>
                                <ul class="nav nav-treeview">
                                    <li class="nav-item">
                                        <a routerLink="dashboard1" class="nav-link">
                                            <i class="far fa-circle nav-icon"></i>
                                            <p>E & W Dashboard</p>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a routerLink="dashboard2" class="nav-link">
                                            <i class="far fa-circle nav-icon"></i>
                                            <p>BPS Dashboard</p>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a routerLink="dashboard3" class="nav-link">
                                            <i class="far fa-circle nav-icon"></i>
                                            <p>E-M Dashboard</p>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                           
                            <!-- Import Data -->
                            <li class="nav-item menu-open" *ngIf="isAuthenticated">
                                <a href="#" class="nav-link active">
                                    <i class="nav-icon fas fa-th"></i>
                                    <p>นำเข้าข้อมูลจาก Excel<i class="right fas fa-angle-left"></i></p>
                                </a>
                                <ul class="nav nav-treeview">
                                    <li class="nav-item">
                                        <a routerLink="dashboard3" class="nav-link" *ngIf="isAdminRole && !isTechnicRole && !isStockRole">
                                            <i class="far fa-circle nav-icon"></i>
                                            <p>นำเข้าข้อมูล E-M</p>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a routerLink="dashboard3" class="nav-link" *ngIf="isAdminRole && !isTechnicRole && !isStockRole">
                                            <i class="nav-icon fas fa-circle"></i>
                                            <p>นำเข้าข้อมูล BPS</p>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a routerLink="dashboard3" class="nav-link" *ngIf="isAdminRole || isTechnicRole && !isStockRole">
                                            <i class="nav-icon far fa-circle"></i>
                                            <p>Close Job</p>
                                        </a>
                                    </li>
                                </ul>
                            </li>

                            <!-- Stock and Node -->
                            <li class="nav-item menu-open" *ngIf="isAuthenticated && isAdminRole && !isTechnicRole || isStockRole">
                                <a href="#" class="nav-link active">
                                    <i class="nav-icon fas fa-tree"></i>
                                    <p>Stock and Node<i class="right fas fa-angle-left"></i></p>
                                </a>
                                <ul class="nav nav-treeview">
                                    <li class="nav-item">
                                        <a routerLink="stock" class="nav-link">
                                            <i class="nav-icon far fa-circle"></i>
                                            <p>Stock & Node</p>
                                        </a>
                                    </li>
                                </ul>
                            </li>

                            <!-- Administrator -->
                            <li class="nav-item menu-open" *ngIf="isAuthenticated && isAdminRole && !isTechnicRole && !isStockRole">
                                <a href="#" class="nav-link active">
                                    <i class="nav-icon fas fa-chart-pie"></i>
                                    <p>Administrator<i class="right fas fa-angle-left"></i></p>
                                </a>
                                <ul class="nav nav-treeview">
                                    <li class="nav-item">
                                        <a routerLink="employee" class="nav-link">
                                            <i class="nav-icon far fa-circle"></i>
                                            <p>เพิ่ม/ลด พนักงาน</p>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a routerLink="department" class="nav-link">
                                            <i class="nav-icon far fa-circle"></i>
                                            <p>Department</p>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a routerLink="signup" class="nav-link">
                                            <i class="nav-icon far fa-circle"></i>
                                            <p>Signup</p>
                                        </a>
                                    </li>
                                    <!-- <li class="nav-item">
                                        <a *ngIf="!isAuthenticated" routerLinkActive="active-link" routerLink="/signup">
                                            <span>Signup</span>
                                        </a>
                                    </li> -->
                                </ul>
                            </li>

                            <!-- Forms fill data -->
                            <li class="nav-item" *ngIf="isAuthenticated && isAdminRole && !isTechnicRole  && !isStockRole">
                                <a href="#" class="nav-link active">
                                    <i class="nav-icon fas fa-edit"></i>
                                    <p>Forms <i class="fas fa-angle-left right"></i></p>
                                </a>
                                <ul class="nav nav-treeview">
                                    <li class="nav-item">
                                        <a routerLink="dashboard3" class="nav-link">
                                            <i class="far fa-circle nav-icon"></i>
                                            <p>General Elements</p>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a routerLink="dashboard3" class="nav-link">
                                            <i class="far fa-circle nav-icon"></i>
                                            <p>Date Picker</p>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a routerLink="dashboard3" class="nav-link">
                                            <i class="far fa-circle nav-icon"></i>
                                            <p>Editors</p>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a routerLink="dashboard3" class="nav-link">
                                            <i class="far fa-circle nav-icon"></i>
                                            <p>Validation</p>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a routerLink="zxingscanner/0/0"  class="nav-link">
                                            <i class="far fa-circle nav-icon"></i>
                                            <p>test camera</p>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <!-- End Form -->

                            <!-- Tables -->
                            <!-- <li class="nav-item">
                                <a href="#" class="nav-link">
                                    <i class="nav-icon fas fa-table"></i>
                                    <p>
                                        Tables
                                        <i class="fas fa-angle-left right"></i>
                                    </p>
                                </a>
                                <ul class="nav nav-treeview">
                                    <li class="nav-item">
                                        <a href="pages/tables/simple.html" class="nav-link">
                                            <i class="far fa-circle nav-icon"></i>
                                            <p>Simple Tables</p>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="pages/tables/data.html" class="nav-link">
                                            <i class="far fa-circle nav-icon"></i>
                                            <p>DataTables</p>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="pages/tables/jsgrid.html" class="nav-link">
                                            <i class="far fa-circle nav-icon"></i>
                                            <p>jsGrid</p>
                                        </a>
                                    </li>
                                </ul>
                            </li> -->
                            
                            <!-- Lode menu from table deplay on webpage -->
                            <!-- <li class="nav-item">
                                <a href="#" class="nav-link active">
                                    <i class="nav-icon fas fa-th"></i>
                                    <p>test<i class="right fas fa-angle-left"></i></p>
                                </a>
                                <ul class="nav nav-treeview">
                                    <li class="nav-item" *ngFor="let item of menulist">
                                        <a  routerLink="{{item.LinkName}}" class="nav-link">
                                            <i class="far fa-circle nav-icon"></i>
                                            <p>{{item.Name}}</p>  
                                        </a>
                                    </li>
                                </ul> 
                            </li> -->

                        </ul>
                    </nav>
                    <!-- /.sidebar-menu -->
                </div>
            </div>
        </div>
        <div class="os-scrollbar os-scrollbar-horizontal os-scrollbar-unusable os-scrollbar-auto-hidden">
            <div class="os-scrollbar-track">
                <div class="os-scrollbar-handle" style="width: 100%; transform: translate(0px, 0px);"></div>
            </div>
        </div>
        <div class="os-scrollbar os-scrollbar-vertical os-scrollbar-auto-hidden">
            <div class="os-scrollbar-track">
                <div class="os-scrollbar-handle" style="height: 20.7506%; transform: translate(0px, 0px);"></div>
            </div>
        </div>
        <div class="os-scrollbar-corner"></div>
    </div>
    <!-- /.sidebar -->
</aside>