<nav class="main-header navbar navbar-expand navbar-white navbar-light">
    <!-- Left navbar links -->
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
        </li>
        <li class="nav-item d-none d-md-inline-block">
            <a href="#" class="nav-link">Home</a>
        </li>
        <li class="nav-item d-none d-md-inline-block">
            <a href="#" class="nav-link">Contact</a>
        </li>
        <!-- <li class="nav-item d-none d-md-inline-block">
            !-- <a href="pages/forms/general.html" class="nav-link"></a> --
            <a href="#" class="nav-link">ปิดกล้อง</a>
            !-- <a href="dashboard" class="nav-link">close Camera</a> --
        </li> -->
    </ul>
    <div style="color:rgb(1, 26, 26); padding: 0px 120px; height: 100%; width: 70%;">
        <h5>E & W Co.,Ltd.</h5>
    </div>
    <div>
        <label>User:{{UserLogin}}</label>
    </div>
    <!-- <div>
        <label>Date:{{myDateDisplay}},</label>
    </div>
    <div>
        <label>{{ today | date:'h:mm:ss' }} </label>
    </div> -->
    
</nav>