<!-- Main content -->
<div class="content-wrapper p-0" style="min-height: 224px;">
    <section class="content">
        <div class="container-fluid">
            <div class="card card-primary">
                <div class="card-header">
                    <h3 class="card-title">Main Detail</h3>
                    <div class="card-tools">
                        <!-- <button type="button" class="btn btn-tool" data-card-widget="collapse">
                            <i class="fas fa-minus"></i>
                        </button> -->
                    </div>
                </div>
                <div class="card-body">

                    <!-- Begin Picture Information -->

                    <!-- Picture Information -->
                </div>
                <div class="card-footer">
                    <div class="row">
                        <!-- <input (keypress)="onKey($event)">
                        <p>{{values}}</p> -->
                        <!-- <input type="text" (window:keypress)="onKey($event)" autofocus />
                        <p>barcode: {{ barcode }}</p> -->
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>