table {
    width: 100%;
  } 
  
  .mat-form-field {
    font-size: 16px;
    width: 100%;
  }
  /*
  .mat-date-range-input {
    border-radius: 4px 4px 0 0;
    padding: -0.25em 0.75em 0 .75em;
  }
  
  .mat-column-JobNoBPS {
    width: 32px;
    border-right: 1px solid currentColor;
    padding-right: 24px;
    text-align: left;
  }
  */
  td, th {
    width: 25%;
  } 
  
  th {
    background: rgb(46, 172, 194);
    font-size: 14px;
    font-weight: bold;
  }
  td {
    font-size: 14px;
  }  
  
  tr.example-detail-row {
    height: 0;
  }
  
  tr.example-element-row:not(.example-expanded-row):hover {
    background: rgb(198, 197, 197);
  }
  
  tr.example-element-row:not(.example-expanded-row):active {
    background: #efefef;
  }
  
  .example-element-row td {
    border-bottom-width: 1;
  }
  
  .example-element-detail {
    overflow: hidden;
    display: flex;
  }
  
  .example-element-diagram {
    min-width: 80px;
    border: 2px solid black;
    padding: 8px;
    font-weight: lighter;
    margin: 8px 0;
    height: 104px;
  }
  
  .example-element-symbol {
    font-weight: bold;
    font-size: 40px;
    line-height: normal;
  }
  
  .example-element-description {
    padding: 16px;
    font-size: 12px;
  }
  
  .example-element-description-attribution {
    opacity: 0.5;
  }
  /*
  .mat-form-field-appearance-fill .mat-form-field-flex {
    border-radius: 4px 4px 0 0;
    padding: -0.25em 0.75em 0 .75em;
  }
  */
  